# Dependencies
node_modules/

# Build output
dist/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.keystore
*.jks

# iOS
ios/App/Pods/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
